@import "tailwindcss";
@plugin "@tailwindcss/typography";
@custom-variant dark (&:is(.dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  --font-size-editor: 15px;
  --line-height-editor: 1.625;
}

body {
  background: var(--background);
  color: var(--foreground);
}

.markdown-body {
  font-size: var(--font-size-editor);
  line-height: var(--line-height-editor);
}

.minimal-md-editor[data-empty="true"]::before {
  content: attr(data-placeholder);
  color: #a1a1aa;
  pointer-events: none;
  position: absolute;
}
.dark .minimal-md-editor[data-empty="true"]::before {
  color: #52525b;
}
.minimal-md-editor {
  position: relative;
}
.minimal-md-editor > div {
  min-height: 1.6em;
}

